
@font-face{
	font-family:main;
	src: url(fonts/Quando-Regular.ttf);
}
@font-face{
	font-family:body;
	src: url(fonts/Judson-Regular.ttf);
}

canvas{
	position: fixed;
	top: 0;
	display: inline-block;
	z-index: -5;
	vertical-align: baseline;
	background: #696969;
}

body{
	background: #696969;
	display: block;
	height: 0;
	padding: 0;
	margin: 0;
	font-size: 16px;
}
#intro{
	height: 100vh;
	width: 100%;
	/* text-align: center; */
	margin-bottom: 20px;

}

div{
	background: transparent;
}
.main-nav{
	position: fixed;
}
/* 
.mynav ul{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	list-style-type: none;
	padding: 0;
}
.mynav li:not(:last-child){
	margin-right: 20px;
}

.mynav a{
	display: block;
	font-size: 3em;
	fill: white;
	text-decoration: none;
	font-family: avantgarde;
	padding: 7px 15px;
	z-index: 10;
}
*/
.target {
	position: absolute;
	border-left: 4px solid transparent;
	z-index: -1;
	transform: translateX(-60px);
}

.mynav a,
.target{
	transition: all .3s ease-in-out;
}
nav#nav{

	font-family:body;
	color: #fff;
	font-size: 2em;
	text-align: center;
}
nav#nav > ul {
	text-align: center;
}
nav#nav > ul > li{
	margin-right: 0.2em;
	display: inline-block;

	float: left;
	clear: left;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
} 
nav#nav > ul > li > a{
	display: block;
	font-size: 1em;
	color: white;
	text-decoration: none;
	font-family:body;
	z-index: 10;
	padding: .5em;
}
h2{
	font-size: 1.5em;
	margin-top: 0;
	font-family:main;
	font-weight: normal;
}
.projects{
	z-index: 10;
}
.projdivider{
	width: 75vw;
	margin: 0 auto;
}

.portfolio_pic{
	width: 40%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.projectpanel{
	height: 40vh;
	background-color: #ECECEA;
	font-family: body;
	color: #15354c;
	width: 60%;
	position: relative;
	margin: 0 auto 5% auto;
	-webkit-box-shadow: 2px 2px 4px 4px;
	-moz-box-shadow:    2px 2px 4px 4px; 
	box-shadow:         2px 2px 4px 4px;
}
.proj_card{
	padding-top: 5%;
	padding-left: 5%;
	margin: 0;
	width: 50%;
	display: inline-block;
}
.right{
	float: right;
	padding-left: 0%;
	padding-right: 5%;
	text-align: right;
}
div#title-box{
	width: 100%;
	position: relative; 
	top: 35%;
}
div#subtitle{
	font-family: main;
	color: #fff;
	font-size: 2em;
	margin: 0 auto;
	width: 100%;
	display: block;
	text-align: center;

}
div#name{
	font-family: main;
	color: #fff;
	font-size: 7em;
	margin: 0 auto;
	width: 100%;
	display: block;
	text-align: center;

}
.down{
	width: 100%;
	position: absolute;
	bottom: 0;
	display: flex;
	justify-content: center;
}